@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kalameh_800';
  src: url('../../fonts/Kalameh/KalamehWebFaNum-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Kalameh_500';
  src: url('../../fonts/Kalameh/KalamehWebFaNum-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Kalameh_200';
  src: url('../../fonts/Kalameh/KalamehWebFaNum-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Peyda_100';
  src: url('../../fonts/Peyda/Peyda-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Peyda_200';
  src: url('../../fonts/Peyda/peyda-extralight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_300';
  src: url('../../fonts/Peyda/peyda-light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_400';
  src: url('../../fonts/Peyda/Peyda-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_500';
  src: url('../../fonts/Peyda/Peyda-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_600';
  src: url('../../fonts/Peyda/Peyda-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_700';
  src: url('../../fonts/Peyda/Peyda-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Peyda_800';
  src: url('../../fonts/Peyda/Peyda-ExtraBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
